.header {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-bg);
  padding: 12px 0px 12px;
}

.autor-name {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-name);
  letter-spacing: 0.01em;
  color: var(--text-color);
}

hr {
  background-color: var(--secondary-bg);
  height: 2px;
  border: none;
}

.main {
  background-color: var(--main-bg);
  color: var(--text-color);
  padding: 50px 17px 50px;
}

.main__heading {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-heading);
  letter-spacing: 0.01em;
}

.main__text {
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  letter-spacing: 0.01em;
}

.main__btn {
  width: 341px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: var(--main-bg);
  font-family: 'Ubuntu';
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  letter-spacing: 1.5px;
  color: var(--text-color);
}

.main__close {
  width: 227px;
  height: 50px;
  margin-top: 15px;
}

.main__btn:hover {
  background-color: var(--secondary-bg);
  border: none;
}

.main__photo {
  margin: 1px;
}

.main__photo-big,
.main__autor-big,
.main__autor-bigger {
  display: none;
}

.contact-form {
  display: none;
  position: absolute;
  left: calc(50% - 890px / 2);
  top: 270px;
  width: 590px;
  height: 500px;
  background: var(--main-bg);
  padding: 50px;
  border: 100px solid rgba(25, 132, 155, 0.3);
  background-clip: padding-box;
}

.form__comment,
.footer__btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.name,
.email,
.comment {
  background: #324b53;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: var(--font-size-main);
  letter-spacing: 0.01em;
  color: #8ea5ac;
  border: none;
  margin: 10px 15px 10px 0px;
}

.name {
  width: 200px;
  height: 50px;
}

.email {
  width: 347px;
  height: 50px;
}

.comment {
  width: 567px;
  height: 219px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg);
  padding: 30px 17px 30px;
}

.footer__text {
  margin-left: 20px;
}

.footer__name {
  font-weight: var(--font-weight-bold);
  font-size: 22px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.footer__number,
.footer__place {
  font-weight: var(--font-weight);
  font-size: 18px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.under-footer {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--footer-bg);
  padding: 15px 76px;
}

@media (min-width: 900px) {
  .main {
    padding: 51px 67px 51px;
  }

  .main__autor {
    display: none;
  }

  .main__autor-bigger {
    display: block;
  }

  .main__btn {
    margin: 15px 0px 15px;
  }

  .main__photo {
    margin: 11px;
  }
}

@media (min-width: 901px) {
  .main {
    padding: 50px 227px 40px;
  }

  .main__autor-bigger,
  .main__photo {
    display: none;
  }

  .main__autor-big {
    display: block;
  }

  .main__photo-big {
    display: inline;
    margin: 9px;
  }

  .main-section {
    display: flex;
    align-items: center;
  }

  .section__text {
    margin-left: 50px;
  }

  .contact-form {
    top: 60px;
  }
}

@media (max-width: 376px) {
  .contact-form {
    position: absolute;
    left: calc(50% - 365px / 2);
    top: 395px;
    width: 355px;
    height: 670px;
    padding: 5px;
    border: 1px solid var(--secondary-bg);
  }
}
