.header {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-bg);
  padding: 12px 0px 12px;
}

.autor-name {
font-weight: var(--font-weight-bold);
font-size: var(--font-size-name);
letter-spacing: 0.01em;
color: var(--text-color);
}

hr {
  background-color: var(--secondary-bg);
  height: 2px;
  border: none;
}

.main {
  background-color: var(--main-bg);
  color: var(--text-color);
  padding: 50px 17px 50px;
}

.main__heading {
font-weight: var(--font-weight-bold);
font-size: var(--font-size-heading);
letter-spacing: 0.01em;
}

.main__text {
  font-weight: var(--font-weight);
font-size: var(--font-size-main);
letter-spacing: 0.01em;
}

.main__btn {
  width: 341px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-color: var(--main-bg);
  font-family: 'Ubuntu';
font-weight: var(--font-weight-bold);
font-size: 18px;
letter-spacing: 1.5px;
color: var(--text-color);
}

.main__btn:focus {
  background-color: var(--secondary-bg);
  border: none;
}

.main__photo {
  margin: 1px;
}

.main__photo-big, .main__autor-big, .main__autor-bigger {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg);
  padding: 30px 17px 30px;
}

.footer__text {
  margin-left: 20px;
}

.footer__name {
font-weight: var(--font-weight-bold);
font-size: 22px;
letter-spacing: 0.01em;
color: var(--text-color);
}

.footer__number, .footer__place {
  font-weight: var(--font-weight);
font-size: 18px;
letter-spacing: 0.01em;
color: var(--text-color);
}

.under-footer {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
font-size: 12px;
letter-spacing: 0.01em;
color: rgba(255, 255, 255, 0.7);
background-color: var(--footer-bg);
padding: 15px 76px;
}

@media (min-width: 900px) {

  .main {
  padding: 51px 67px 51px;
  }

  .main__autor {
    display: none;
  }

  .main__autor-bigger {
    display: block;
  }

  .main__btn {
    margin: 15px 0px 15px;
  }

  .main__photo {
    margin: 11px;
  }
}

@media (min-width :901px) {

  .main {
    padding: 50px 227px 40px;
  }

  .main__autor-bigger, .main__photo {
    display: none;
  }

  .main__autor-big {
    display: block;
  }

  .main__photo-big {
    display: inline;
    margin: 9px;
  }

  .main-section {
    display: flex;
    align-items: center;
  }

  .section__text {
    margin-left: 50px;
  }
}